# London House Price


The London housing market is one of the most significant and closely watched in the world. As the capital city of the United Kingdom, London is a global financial center, attracting both residents and investors from around the globe. Over the years, house prices in London have generally risen due to a combination of strong economic growth, a growing population, and limited housing supply. The demand for properties is high, driven by the city’s role as a business and cultural hub, while the availability of land for new development is constrained by strict planning regulations. This has led to steep price increases, particularly in central and sought-after areas of the city. Despite occasional market fluctuations, such as those seen during the Brexit process and the COVID-19 pandemic, London remains one of the most expensive cities to buy or rent a home, with property values continuing to rise due to ongoing demand.


Every line in this dataset represents an individual property in the City of London. Each row includes detailed information about one specific house or apartment, including its location, physical characteristics (e.g., number of rooms, square footage), property type, and estimated sale or rental prices.

The provider of this dataset is the UK Government (the City of London). This website (https://data.london.gov.uk/dataset/) offers a lot of data related to property, urban planning, and housing...
This dataset has likely been collected from a combination of public and administrative records:


Here’s a breakdown of each column and whether it represents unique values:

- fullAddress, postcode, outcode, country: These represent location-based information. fullAddress is unique for each property, while postcode and outcode might repeat if multiple properties share the same area.
- latitude, longitude: These are geographic coordinates for each property and are generally unique per property.
- bathrooms, bedrooms, livingRooms, floorAreaSqM: These represent physical characteristics of each property. Values may repeat, especially for properties with similar layouts.
- tenure: Indicates the property’s ownership type (e.g., freehold or leasehold). It is not unique, as multiple properties share the same tenure type.
- propertyType: Specifies the type of property (e.g., flat, house), not unique.
- currentEnergyRating: Shows the energy efficiency rating of the property, not unique.
- Price columns (rentEstimate_lowerPrice, rentEstimate_currentPrice, rentEstimate_upperPrice, saleEstimate_lowerPrice, saleEstimate_currentPrice, saleEstimate_upperPrice): These show various price estimates and are not unique, especially when properties are of similar types in similar locations.
saleEstimate_confidenceLevel: Indicates confidence in the estimated price, not unique.
saleEstimate_ingestedAt, saleEstimate_valueChange.saleDate, history_date: Represent date fields, such as the date of price estimation or sale date. These may not be unique, as properties could be updated or transacted on the same day.
- saleEstimate_valueChange.numericChange, saleEstimate_valueChange.percentageChange, history_price, history_percentageChange, history_numericChange: These show price changes over time in numeric or percentage terms. These values are not unique since they can be similar for properties in the same area or market.

This dataset likely represents a subset of the total property market rather than the full population. Only properties within the boundaries of the City of London are included.Properties with missing critical information (like sale price or location) might be excluded for accuracy and consistency.

In [28]:
import pandas as pd

df = pd.read_csv("kaggle_london_house_price_data.csv")

df

,fullAddress,postcode,country,outcode,latitude,longitude,bathrooms,bedrooms,floorAreaSqM,livingRooms,...,saleEstimate_upperPrice,saleEstimate_confidenceLevel,saleEstimate_ingestedAt,saleEstimate_valueChange.numericChange,saleEstimate_valueChange.percentageChange,saleEstimate_valueChange.saleDate,history_date,history_price,history_percentageChange,history_numericChange
0,"1 Guinness Court, Mansell Street, London, E1 8AB",E1 8AB,England,E1,51.512982,-0.073698,1.0,2.0,79.0,NaN,...,666000.0,LOW,2024-10-07T13:26:59.894Z,-29445000.0,-98.150000,2020-03-27,2020-03-27,30000000,NaN,NaN
1,"306 Marlyn Lodge, 2 Portsoken Street, London, ...",E1 8RB,England,E1,51.511881,-0.073471,1.0,1.0,54.0,1.0,...,546000.0,MEDIUM,2024-10-07T13:26:59.894Z,46000.0,10.222222,2022-09-16,2022-09-16,450000,NaN,NaN
2,"Flat 1, White Rose Court, Widegate Street, Lon...",E1 7ES,England,E1,51.517972,-0.078028,2.0,2.0,73.0,1.0,...,684000.0,HIGH,2024-10-07T13:26:59.894Z,28000.0,4.494382,2023-10-31,2023-10-31,623000,3.833333,23000.0
3,"Flat 1, White Rose Court, Widegate Street, Lon...",E1 7ES,England,E1,51.517972,-0.078028,2.0,2.0,73.0,1.0,...,684000.0,HIGH,2024-10-07T13:26:59.894Z,28000.0,4.494382,2023-10-31,2016-03-23,600000,155.319149,365000.0
4,"Flat 1, White Rose Court, Widegate Street, Lon...",E1 7ES,England,E1,51.517972,-0.078028,2.0,2.0,73.0,1.0,...,684000.0,HIGH,2024-10-07T13:26:59.894Z,28000.0,4.494382,2023-10-31,2005-11-28,235000,181.437126,151500.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282867,"Apartment 93, Gladstone House, 190 Strand, Lon...",WC2R 1AB,England,WC2R,51.512331,-0.113934,NaN,NaN,180.0,NaN,...,3934000.0,LOW,2024-10-07T13:26:59.894Z,-1447000.0,-30.624339,2017-06-02,2017-06-02,4725000,NaN,NaN
282868,"Apartment 94, Gladstone House, 190 Strand, Lon...",WC2R 1AB,England,WC2R,51.512331,-0.113934,NaN,NaN,152.0,NaN,...,4310000.0,LOW,2024-10-07T13:26:59.894Z,-1327000.0,-26.975543,2017-09-20,2017-09-20,4918900,NaN,NaN
282869,"Apartment 95, Gladstone House, 190 Strand, Lon...",WC2R 1AB,England,WC2R,51.512331,-0.113934,NaN,NaN,200.0,NaN,...,4734000.0,LOW,2024-10-07T13:26:59.894Z,-580000.0,-12.817680,2017-04-12,2017-04-12,4525000,NaN,NaN
282870,"9 Arundel Street, London, WC2R 3DX",WC2R 3DX,England,WC2R,51.511783,-0.113702,NaN,NaN,NaN,NaN,...,2755000.0,MEDIUM,2024-10-07T13:26:59.894Z,-346000.0,-12.142256,2018-01-16,2018-01-16,2851200,NaN,NaN
282871,"11 Arundel Street, London, WC2R 3DX",WC2R 3DX,England,WC2R,51.511783,-0.113702,NaN,NaN,NaN,NaN,...,3139000.0,LOW,2024-10-07T13:26:59.894Z,-479000.0,-15.476575,2018-01-16,2018-01-16,3095000,NaN,NaN

In [29]:
df.info

<bound method DataFrame.info of                                               fullAddress  postcode  country  \
0        1 Guinness Court, Mansell Street, London, E1 8AB    E1 8AB  England
1       306 Marlyn Lodge, 2 Portsoken Street, London, ...    E1 8RB  England
2       Flat 1, White Rose Court, Widegate Street, Lon...    E1 7ES  England
3       Flat 1, White Rose Court, Widegate Street, Lon...    E1 7ES  England
4       Flat 1, White Rose Court, Widegate Street, Lon...    E1 7ES  England
...                                                   ...       ...      ...
282867  Apartment 93, Gladstone House, 190 Strand, Lon...  WC2R 1AB  England
282868  Apartment 94, Gladstone House, 190 Strand, Lon...  WC2R 1AB  England
282869  Apartment 95, Gladstone House, 190 Strand, Lon...  WC2R 1AB  England
282870                 9 Arundel Street, London, WC2R 3DX  WC2R 3DX  England
282871                11 Arundel Street, London, WC2R 3DX  WC2R 3DX  England

       outcode   latitude  longitude  bathrooms  bedrooms  floorAreaSqM  \
0           E1  51.512982  -0.073698        1.0       2.0          79.0
1           E1  51.511881  -0.073471        1.0       1.0          54.0
2           E1  51.517972  -0.078028        2.0       2.0          73.0
3           E1  51.517972  -0.078028        2.0       2.0          73.0
4           E1  51.517972  -0.078028        2.0       2.0          73.0
...        ...        ...        ...        ...       ...           ...
282867    WC2R  51.512331  -0.113934        NaN       NaN         180.0
282868    WC2R  51.512331  -0.113934        NaN       NaN         152.0
282869    WC2R  51.512331  -0.113934        NaN       NaN         200.0
282870    WC2R  51.511783  -0.113702        NaN       NaN           NaN
282871    WC2R  51.511783  -0.113702        NaN       NaN           NaN

        livingRooms  ... saleEstimate_upperPrice saleEstimate_confidenceLevel  \
0               NaN  ...                666000.0                          LOW
1               1.0  ...                546000.0                       MEDIUM
2               1.0  ...                684000.0                         HIGH
3               1.0  ...                684000.0                         HIGH
4               1.0  ...                684000.0                         HIGH
...             ...  ...                     ...                          ...
282867          NaN  ...               3934000.0                          LOW
282868          NaN  ...               4310000.0                          LOW
282869          NaN  ...               4734000.0                          LOW
282870          NaN  ...               2755000.0                       MEDIUM
282871          NaN  ...               3139000.0                          LOW

         saleEstimate_ingestedAt  saleEstimate_valueChange.numericChange  \
0       2024-10-07T13:26:59.894Z                             -29445000.0
1       2024-10-07T13:26:59.894Z                                 46000.0
2       2024-10-07T13:26:59.894Z                                 28000.0
3       2024-10-07T13:26:59.894Z                                 28000.0
4       2024-10-07T13:26:59.894Z                                 28000.0
...                          ...                                     ...
282867  2024-10-07T13:26:59.894Z                              -1447000.0
282868  2024-10-07T13:26:59.894Z                              -1327000.0
282869  2024-10-07T13:26:59.894Z                               -580000.0
282870  2024-10-07T13:26:59.894Z                               -346000.0
282871  2024-10-07T13:26:59.894Z                               -479000.0

        saleEstimate_valueChange.percentageChange  \
0                                      -98.150000
1                                       10.222222
2                                        4.494382
3                                        4.494382
4                                        4.494382
...                                           ...
282867                                 -30.624339
282868                                 -26.975543
282869                                 -12.817680
282870                                 -12.142256
282871                                 -15.476575

        saleEstimate_valueChange.saleDate  history_date  history_price  \
0                              2020-03-27    2020-03-27       30000000
1                              2022-09-16    2022-09-16         450000
2                              2023-10-31    2023-10-31         623000
3                              2023-10-31    2016-03-23         600000
4                              2023-10-31    2005-11-28         235000
...                                   ...           ...            ...
282867                         2017-06-02    2017-06-02        4725000
282868                         2017-09-20    2017-09-20        4918900
282869                         2017-04-12    2017-04-12        4525000
282870                         2018-01-16    2018-01-16        2851200
282871                         2018-01-16    2018-01-16        3095000

        history_percentageChange history_numericChange
0                            NaN                   NaN
1                            NaN                   NaN
2                       3.833333               23000.0
3                     155.319149              365000.0
4                     181.437126              151500.0
...                          ...                   ...
282867                       NaN                   NaN
282868                       NaN                   NaN
282869                       NaN                   NaN
282870                       NaN                   NaN
282871                       NaN                   NaN

[282872 rows x 28 columns]>

In [30]:
print(df.columns)

Index(['fullAddress', 'postcode', 'country', 'outcode', 'latitude',
       'longitude', 'bathrooms', 'bedrooms', 'floorAreaSqM', 'livingRooms',
       'tenure', 'propertyType', 'currentEnergyRating',
       'rentEstimate_lowerPrice', 'rentEstimate_currentPrice',
       'rentEstimate_upperPrice', 'saleEstimate_lowerPrice',
       'saleEstimate_currentPrice', 'saleEstimate_upperPrice',
       'saleEstimate_confidenceLevel', 'saleEstimate_ingestedAt',
       'saleEstimate_valueChange.numericChange',
       'saleEstimate_valueChange.percentageChange',
       'saleEstimate_valueChange.saleDate', 'history_date', 'history_price',
       'history_percentageChange', 'history_numericChange'],
      dtype='object')

In [31]:
df['propertyType'].value_counts()

propertyType
Purpose Built Flat        72929
Flat/Maisonette           65023
Mid Terrace House         47881
Converted Flat            34058
Semi-Detached House       21881
Terrace Property          16551
End Terrace House         13924
Detached House             7201
Terraced                   1075
Semi-Detached Property      301
Bungalow Property           292
Semi-Detached Bungalow      255
Detached Bungalow           200
End Terrace Property        167
Detached Property           167
Mid Terrace Property        141
Mid Terrace Bungalow         69
Terraced Bungalow            44
End Terrace Bungalow         38
Name: count, dtype: int64

In [32]:
df['history_price'].value_counts()

history_price
250000     3543
450000     2451
500000     2332
400000     2197
350000     2173
           ...
264800        1
461950        1
580950        1
413002        1
2851200       1
Name: count, Length: 17479, dtype: int64

In [33]:
df['currentEnergyRating'].value_counts()

currentEnergyRating
D    93754
C    83952
B    22873
E    21627
F     1646
G      503
A      206
Name: count, dtype: int64

In [34]:
df['tenure'].value_counts()

tenure
Leasehold    164927
Freehold     108739
Feudal         2135
Shared          760
Name: count, dtype: int64

In [35]:
df['floorAreaSqM'].value_counts()

floorAreaSqM
55.0     4763
70.0     4149
56.0     3979
80.0     3721
54.0     3674
         ...
459.0       2
421.0       1
442.0       1
464.0       1
441.0       1
Name: count, Length: 489, dtype: int64

In [36]:
df['bathrooms'].value_counts()

bathrooms
1.0    152391
2.0     62733
3.0     12547
4.0      2832
5.0       763
6.0       344
7.0       108
8.0        36
9.0        15
Name: count, dtype: int64

In [37]:
df['bedrooms'].value_counts()

bedrooms
2.0    96214
3.0    65392
1.0    49657
4.0    29441
5.0    11908
6.0     3134
7.0      645
8.0      198
9.0       65
Name: count, dtype: int64

In [38]:
df['livingRooms'].value_counts()

livingRooms
1.0    185195
2.0     48211
3.0      8406
4.0      1464
5.0       346
6.0        81
7.0        29
8.0         4
9.0         1
Name: count, dtype: int64

In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
# Calcul du prix moyen par m² 
df['prix_par_m2'] = df['saleEstimate_currentPrice'] / df['floorAreaSqM']
prix_par_m2_moyen = df['prix_par_m2'].mean()
print(prix_par_m2_moyen)

8588.731978738737

In [53]:
# Calcul du la superficie moyenne
superficie_moyenne = df['floorAreaSqM'].mean()

print(superficie_moyenne)

99.53728750093612

In [54]:
# nombre de chambre moyen
bedroom_moyenne = df['bedrooms'].mean()

print(bedroom_moyenne)

2.497732355622745

In [56]:
# nombre de chambre moyen
lr_moyenne = df['livingRooms'].mean()

print(lr_moyenne)

1.2929961392812745

In [58]:
# nombre de chambre moyen
bathrooms_moyenne = df['bathrooms'].mean()

print(bathrooms_moyenne)

1.4405895525285952

In [41]:
# Calcul du prix moyen de vente et de location par code postal
prix_moyen_par_postcode = df.groupby('postcode')[['saleEstimate_currentPrice', 'rentEstimate_currentPrice']].mean()
print(prix_moyen_par_postcode)

          saleEstimate_currentPrice  rentEstimate_currentPrice
postcode
E1 0AE                 4.076250e+05                1881.250000
E1 0AH                 4.670000e+05                2150.000000
E1 0AQ                 4.670000e+05                2150.000000
E1 0AZ                 3.035000e+05                1412.500000
E1 0BE                 6.740000e+05                3108.333333
...                             ...                        ...
WC2R 1HA               1.273393e+06                5176.785714
WC2R 1JA               1.832000e+06                7450.000000
WC2R 3AT               1.888391e+06                7673.913043
WC2R 3DX               1.994885e+06                8109.615385
WC2R 3JJ               2.238000e+06                7850.000000

[46124 rows x 2 columns]

In [42]:
# Prix moyen de vente par type de propriété
prix_moyen_par_type = df.groupby('propertyType')['saleEstimate_currentPrice'].mean()
print(prix_moyen_par_type)

propertyType
Bungalow Property         7.481138e+05
Converted Flat            6.155318e+05
Detached Bungalow         8.615650e+05
Detached House            2.064568e+06
Detached Property         2.475652e+06
End Terrace Bungalow      7.179737e+05
End Terrace House         1.013702e+06
End Terrace Property      1.090605e+06
Flat/Maisonette           8.836015e+05
Mid Terrace Bungalow      6.505942e+05
Mid Terrace House         1.119817e+06
Mid Terrace Property      1.781765e+06
Purpose Built Flat        5.359662e+05
Semi-Detached Bungalow    6.181961e+05
Semi-Detached House       1.276044e+06
Semi-Detached Property    1.436378e+06
Terrace Property          1.274810e+06
Terraced                  1.639618e+06
Terraced Bungalow         7.768182e+05
Name: saleEstimate_currentPrice, dtype: float64

In [43]:
# Corrélation entre les caractéristiques et le prix de vente
correlations = df[['saleEstimate_currentPrice', 'floorAreaSqM', 'bedrooms', 'bathrooms']].corr()
print(correlations)

                           saleEstimate_currentPrice  floorAreaSqM  bedrooms  \
saleEstimate_currentPrice                   1.000000      0.750031  0.519542
floorAreaSqM                                0.750031      1.000000  0.796278
bedrooms                                    0.519542      0.796278  1.000000
bathrooms                                   0.648047      0.677624  0.577078

                           bathrooms
saleEstimate_currentPrice   0.648047
floorAreaSqM                0.677624
bedrooms                    0.577078
bathrooms                   1.000000

In [44]:
# Calcul de la fourchette d'estimation de prix par quartier
df['sale_estimate_range'] = df['saleEstimate_upperPrice'] - df['saleEstimate_lowerPrice']
fourchette_par_postcode = df.groupby('postcode')['sale_estimate_range'].mean()
print(fourchette_par_postcode)

postcode
E1 0AE       40625.000000
E1 0AH       47000.000000
E1 0AQ       93000.000000
E1 0AZ       60250.000000
E1 0BE      135333.333333
                ...
WC2R 1HA    303964.285714
WC2R 1JA    367000.000000
WC2R 3AT    489478.260870
WC2R 3DX    354538.461538
WC2R 3JJ    447000.000000
Name: sale_estimate_range, Length: 46124, dtype: float64

In [45]:
# Conversion de la colonne 'history_date' en datetime si nécessaire
df['history_date'] = pd.to_datetime(df['history_date'])

# Calcul de la variation de prix moyenne par année
df['year'] = df['history_date'].dt.year
variation_par_annee = df.groupby('year')['history_price'].mean().pct_change() * 100
print(variation_par_annee)

year
1995          NaN
1996     6.875891
1997    18.787898
1998    12.904391
1999    13.237139
2000    19.077321
2001     8.954333
2002    14.291509
2003     4.142011
2004     8.326508
2005     4.565612
2006    10.654844
2007    14.646795
2008     8.272864
2009    -0.040880
2010    16.762996
2011     3.682720
2012     2.887851
2013    14.762460
2014    10.532480
2015     8.147147
2016    -1.617762
2017    13.325709
2018     5.004667
2019     0.744585
2020     0.556122
2021    -6.877674
2022     5.535294
2023    -5.016236
2024    -8.352095
Name: history_price, dtype: float64

In [46]:
# Calcul de la différence entre le prix de vente actuel et la moyenne par type de propriété
prix_moyen = df['saleEstimate_currentPrice'].mean()
df['difference_moyenne'] = df['saleEstimate_currentPrice'] - prix_moyen

# Affichage des propriétés surévaluées (différence positive) et sous-évaluées (différence négative)
print("Propriétés surévaluées :")
print(df[df['difference_moyenne'] > 0][['fullAddress', 'saleEstimate_currentPrice', 'difference_moyenne']])

print("Propriétés sous-évaluées :")
print(df[df['difference_moyenne'] < 0][['fullAddress', 'saleEstimate_currentPrice', 'difference_moyenne']])

Propriétés surévaluées :
                                              fullAddress  \
88      Flat 22, Linnell House, 50 Folgate Street, Lon...
89      Flat 22, Linnell House, 50 Folgate Street, Lon...
100     Flat 34, Exchange Building, 132 Commercial Str...
101     Flat 34, Exchange Building, 132 Commercial Str...
102     Flat 34, Exchange Building, 132 Commercial Str...
...                                                   ...
282867  Apartment 93, Gladstone House, 190 Strand, Lon...
282868  Apartment 94, Gladstone House, 190 Strand, Lon...
282869  Apartment 95, Gladstone House, 190 Strand, Lon...
282870                 9 Arundel Street, London, WC2R 3DX
282871                11 Arundel Street, London, WC2R 3DX

        saleEstimate_currentPrice  difference_moyenne
88                      1078000.0        1.826495e+05
89                      1078000.0        1.826495e+05
100                     1247000.0        3.516495e+05
101                     1247000.0        3.516495e+05
102                     1247000.0        3.516495e+05
...                           ...                 ...
282867                  3278000.0        2.382650e+06
282868                  3592000.0        2.696650e+06
282869                  3945000.0        3.049650e+06
282870                  2505000.0        1.609650e+06
282871                  2616000.0        1.720650e+06

[81489 rows x 3 columns]
Propriétés sous-évaluées :
                                              fullAddress  \
0        1 Guinness Court, Mansell Street, London, E1 8AB
1       306 Marlyn Lodge, 2 Portsoken Street, London, ...
2       Flat 1, White Rose Court, Widegate Street, Lon...
3       Flat 1, White Rose Court, Widegate Street, Lon...
4       Flat 1, White Rose Court, Widegate Street, Lon...
...                                                   ...
282607   Apartment 11, 1 Bull Inn Court, London, WC2R 0AL
282610   Apartment 14, 1 Bull Inn Court, London, WC2R 0AL
282634          Apartment 1, 226 Strand, London, WC2R 1BA
282800  Apartment 36, Wren House, 190 Strand, London, ...
282801  Apartment 36, Wren House, 190 Strand, London, ...

        saleEstimate_currentPrice  difference_moyenne
0                        555000.0      -340350.481541
1                        496000.0      -399350.481541
2                        651000.0      -244350.481541
3                        651000.0      -244350.481541
4                        651000.0      -244350.481541
...                           ...                 ...
282607                   810000.0       -85350.481541
282610                   757000.0      -138350.481541
282634                   746000.0      -149350.481541
282800                   786000.0      -109350.481541
282801                   786000.0      -109350.481541

[200834 rows x 3 columns]

In [47]:
# Propriétés avec la plus grande incertitude d'estimation de prix
incertitude = df[['fullAddress', 'saleEstimate_lowerPrice', 'saleEstimate_upperPrice']]
incertitude['difference'] = incertitude['saleEstimate_upperPrice'] - incertitude['saleEstimate_lowerPrice']
incertitude = incertitude.sort_values(by='difference', ascending=False)
print(incertitude.head(10))

                                              fullAddress  \
219856  Apartment 13, 11–15 Grosvenor Crescent, London...
219319         Flat 1, 33 Chesham Place, London, SW1X 8HB
219320         Flat 1, 33 Chesham Place, London, SW1X 8HB
246227        21 Kensington Park Gardens, London, W11 3HD
250252             2 Holland Villas Road, London, W14 8BP
250253             2 Holland Villas Road, London, W14 8BP
250254             2 Holland Villas Road, London, W14 8BP
250255             2 Holland Villas Road, London, W14 8BP
250196                8 Addison Crescent, London, W14 8JP
250195                8 Addison Crescent, London, W14 8JP

        saleEstimate_lowerPrice  saleEstimate_upperPrice  difference
219856               20825000.0               31237000.0  10412000.0
219319               20545000.0               30817000.0  10272000.0
219320               20545000.0               30817000.0  10272000.0
246227               19174000.0               28761000.0   9587000.0
250252               19075000.0               28613000.0   9538000.0
250253               19075000.0               28613000.0   9538000.0
250254               19075000.0               28613000.0   9538000.0
250255               19075000.0               28613000.0   9538000.0
250196               18817000.0               28225000.0   9408000.0
250195               18817000.0               28225000.0   9408000.0

C:\Users\elecl\AppData\Local\Temp\ipykernel_12240\951335520.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  incertitude['difference'] = incertitude['saleEstimate_upperPrice'] - incertitude['saleEstimate_lowerPrice']

In [48]:
# Calcul du prix moyen par m² par code postal
df['prix_par_m2'] = df['saleEstimate_currentPrice'] / df['floorAreaSqM']
prix_par_m2_par_postcode = df.groupby('postcode')['prix_par_m2'].mean().sort_values(ascending=False)
print(prix_par_m2_par_postcode)

postcode
NW3 5DX     234222.222222
W1J 5ND     160341.463415
W11 2NG     157123.287671
NW8 0LT     111705.882353
NW2 4DE      80708.333333
                ...
WC2N 6JG              NaN
WC2N 6LS              NaN
WC2N 6LU              NaN
WC2R 1BA              NaN
WC2R 3JJ              NaN
Name: prix_par_m2, Length: 46124, dtype: float64